.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 3px red;
    width: 100px;
    height: 162px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}